<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C5" version="2.5.3" targetFramework="monoandroid44" />
  <package id="Common.Logging" version="3.4.1" targetFramework="monoandroid44" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="monoandroid44" />
  <package id="Gridsum.DataflowEx" version="2.0.0" targetFramework="monoandroid44" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="monoandroid44" />
  <package id="SkiaSharp" version="1.59.1" targetFramework="monoandroid44" />
  <package id="SkiaSharp.Views" version="1.59.1" targetFramework="monoandroid44" />
  <package id="System.Collections" version="4.0.11" targetFramework="monoandroid44" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="monoandroid44" />
  <package id="System.Data.SqlClient" version="4.4.0" targetFramework="monoandroid44" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="monoandroid44" />
  <package id="System.Globalization" version="4.0.11" targetFramework="monoandroid44" />
  <package id="System.Reflection.TypeExtensions" version="4.1.0" targetFramework="monoandroid44" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="monoandroid44" />
  <package id="System.Threading" version="4.0.11" targetFramework="monoandroid44" />
  <package id="System.Threading.Tasks.Dataflow" version="4.8.0" targetFramework="monoandroid44" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.3.0" targetFramework="monoandroid44" />
  <package id="Xamarin.Android.Support.v13" version="23.3.0" targetFramework="monoandroid44" />
  <package id="Xamarin.Android.Support.v4" version="23.3.0" targetFramework="monoandroid44" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.3.0" targetFramework="monoandroid44" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.3.0" targetFramework="monoandroid44" />
</packages>