[submodule "PolyLib/FastNoise"]
	path = PolyLib/FastNoise
	url = https://github.com/Auburns/FastNoise_CSharp
[submodule "PolyLib/ColorBru"]
	path = PolyLib/ColorBru
	url = https://github.com/cameronwhite08/ColorBru.git
