[submodule "LowPolyLibrary/FastNoise"]
	path = LowPolyLibrary/FastNoise
	url = https://github.com/Auburns/FastNoise_CSharp
[submodule "LowPolyLibrary/ColorBru"]
	path = LowPolyLibrary/ColorBru
	url = https://github.com/capesean/ColorBru.git
